# Files excluded from the packaged .vsix. Everything not listed here ships;
# package.json, README, and LICENSE are always included by vsce.

# Don't bundle prior packages inside a new one.
*.vsix

# Repo / editor / OS cruft.
.gitignore
.vscode/**
.DS_Store

# Dev-only, should any appear later.
node_modules/**
**/*.log
**/*.map
**/tsconfig.json
**/.eslint*
